<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


  <typeAliases>
<!--   	<typeAlias type="com.nsetec.model.EmpVo" alias="empVo" /> -->
<!--   	<typeAlias type="com.nsetec.model.PageVo" alias="pageVo" /> -->
  </typeAliases>


  <mappers>
<!-- 	  <mapper resource="com/nsetec/config/mybatis/mapper/emp.xml"/> -->
  </mappers>
  
  
</configuration>